// Medium devices
$screen-md-min: 661px;

// Large devices
$screen-lg-min: 1001px;

//Colors
$primaryColor: #eb443f;
$lightGray: #f0f0f0;

//Sizes
$minLgSize: 1000px;
$imgHeight: 150px;
$borderRadius: 20px;
